<div>   
    <div class="title-wrapper">            
        <div class="title">商品管理
            <a class="glyphicon glyphicon-search" ng-click="showSearch=!showSearch"></a>
            <a class="glyphicon glyphicon-plus text-danger" href="#!/product/0"></a>
        </div>
    </div>
    <div class="mask searchMask" ng-class="{maskShow:showSearch}">
        <div class="popup">
            <div class="row searchContainer">
                <div class="form-element-wrapper col-sm-3">
                    <div class="l">名称</div>
                    <div my-search="search.sname"></div>
                </div>
                <div class="form-element-wrapper col-sm-3">
                    <div class="l">分类</div>
                    <select class="form-control" ng-model="search.categoryName">
                       <option value="">-所有-</option>
                       <option ng-repeat="cat in selectCats" value="{{cat.name}}" ng-selected="search.categoryName == cat.name">{{cat.name}}</option>
                    </select>   
                </div>
                <div class="form-element-wrapper col-sm-3">
                    <div class="l">商家</div>
                    <div my-search="search.sshop"></div>
                </div>
                <div class="form-element-wrapper col-sm-3">
                    <div class="l">状态</div>
                    <select class="form-control" ng-model="search.onSale">
                      <option value="">-所有-</option>
                      <option value="1">上架</option>
                      <option value="0">下架</option>
                    </select>  
                </div>                 
                <div class="col-sm-3 btns">
                   <button class="btn btn-primary" ng-click="doSearch()">搜 索</button>
                   <a class="btn btn-info btn2" href="#!/product/0">添加商品</a>
                </div>              
            </div>
            <span class="glyphicon glyphicon-remove btn-danger remove" ng-click="showSearch=false"></span>
        </div>
    </div>
    <div class="tableContainer"> 
        <table class="table table-striped table-hover" style="min-width:430px;">
        <thead>
            <tr>
                <th>图片</th>
                <th>名称</th>
                <th>分类</th> 
                <th>价格</th>   
                <th>商家</th>
                <th>状态</th> 
                <th>操作</th>
            </tr>        
        </thead>
        <tbody>
            <tr ng-repeat="d in data" class="animate-fade">
                <td>
                   <a href="#!product/{{d.id}}"><img my-src="d.logo" /></a>
                </td>
                <td>
                  <a href="#!product/{{d.id}}">{{d.name+d.id}}</a>
                </td>
                <td>{{d.categoryName}}</td>
                <td>&yen; {{d.unitPrice.toFixed(1)}}</td>
                <td><a href='#!shop/{{d.shopId}}'>{{d.sshop || (d.shop+d.shopId)}}</a></td>
                <td>{{d.onSale == 1 ? "上架" : "下架"}}</td>
                <td>
                    <input type="button" class="btn btn-danger" value="下架" ng-click="d.onSale=0" ng-show="d.onSale==1"/>
                    <input type="button" class="btn btn-success" value="上架" ng-click="d.onSale=1" ng-show="d.onSale==0"/>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="clearfix">
        <ul class="pagination pagination-sm" ng-controller="PageCtrl">
           <li ng-repeat="page in pages" ng-class="{active: page.page==0}"><a ng-click="changePage(page.page)">{{page.display=="next"?"&raquo;":(page.display=="prev"?"&laquo;":page.display)}}</a></li>
           <li class="disabled"><a>{{totalCount}}条/{{totalPages}}页</a></li>
        </ul>
    </div>
</div>