<div>   
  <div class="title-wrapper">            
            <div class="title">用户统计</div>
  </div>
  <div class="searchContainer">
    <div class="form-element-wrapper col-xs-8 f3 col-sm-4">
        <div class="l">时间段</div>
        <select ng-model="period" class="form-control"> 
            <option value="0">近半年</option>
            <option value="1">近1年</option>     
        </select>
    </div>
    <div class="col-xs-4 btns col-sm-4">
        <button class="btn btn-primary" ng-click="confirm()">确 定</button>
    </div>
  </div>
  <div id="chartContainer">
           
  </div>
</div>