<div class="usersView">   
    <div class="title-wrapper">            
        <div class="title">用户管理
        <a class="glyphicon glyphicon-search" ng-click="showSearch=!showSearch"></a>
        </div>
    </div>
    <div class="mask searchMask" ng-class="{maskShow:showSearch}">
        <div class="popup">
            <div class="row searchContainer">
                <div class="form-element-wrapper f4 col-sm-3">
                    <div class="l">用户名称</div>
                    <div my-search="search.sname"></div>
                </div>
                <div class="form-element-wrapper f4 col-sm-3">
                    <div class="l">用户类型</div>
                     <select ng-model="search.type" class="form-control">
                      <option value="">-所有-</option>
                      <option value="普通用户">普通用户</option>
                      <option value="商家用户">商家用户</option>
                  </select>
                </div>
                <div class="form-element-wrapper f4 col-sm-3">
                    <div class="l">用户状态</div>
                    <select ng-model="search.status" class="form-control">
                      <option value="">-所有-</option>
                      <option value="0">正常</option>
                      <option value="1">禁用</option>
                    </select>
                </div>                 
                <div class="col-sm-3 btns">
                   <button class="btn btn-primary" ng-click="doSearch()">搜 索</button>
                </div>
            </div>
            <span class="glyphicon glyphicon-remove btn-danger remove" ng-click="showSearch=false"></span>
        </div>
    </div>
    <div class="tableContainer">
        <table class="table table-striped table-hover" style="min-width:650px;">
        <thead>
            <tr>
                <th>#</th>
                <th>用户名</th>
                <th>用户类型</th>
                <th>注册时间</th>
                <th>店铺</th>
                <th>状态</th>
                <th>操作</th>
            </tr>        
        </thead>
        <tbody>
            <tr ng-repeat="user in data" class="animate-fade">
                <td>
                   {{user.id}}
                </td>
                <td>
                  {{user.name + user.id}}
                </td>
                <td>{{user.type}}</td>
                <td>{{user.registerDate}}</td>
                <td>
                    <a ng-if="user.type=='商家用户'" href="#!/shop/{{user.shopId}}">店铺名称{{user.shopId}}</a>
                    <span ng-if="user.type=='普通用户'">-</span>
                </td>
                <td>{{user.status==1?"禁用":"正常"}}</td>
                <td>
                    <a href="#!/order/list/10/1/?username={{user.name+user.id}}"><span class="glyphicon glyphicon-list-alt"></span>订单</a>&nbsp;&nbsp;
                    <input type="button" class="btn btn-warning" value="重置密码" ng-click="$parent.showPass=true;" />
                    <input type="button" class="btn btn-danger" value="禁用" ng-click="$parent.currentData=user;$parent.showDisabled=true;" ng-show="user.status==0"/>
                    <input type="button" class="btn btn-success" value="启用" ng-click="$parent.currentData=user;$parent.showDisabled=true;" ng-show="user.status==1"/>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="clearfix">
        <ul class="pagination pagination-sm" ng-controller="PageCtrl">
           <li ng-repeat="page in pages" ng-class="{active: page.page==0}"><a ng-click="changePage(page.page)">{{page.display=="next"?"&raquo;":(page.display=="prev"?"&laquo;":page.display)}}</a></li>
           <li class="disabled"><a>{{totalCount}}条/{{totalPages}}页</a></li>
        </ul>
    </div>
    <div class="mask" ng-class="{maskShow:showPass}">
       <div class="popup popup-sm"> 
            <div class="center">
                <div style="font-size:16px;margin:10px 0 30px;">确定重置该用户的密码吗？</div>
                <button class="btn btn-primary" ng-click="showPass=false;">确 定</button>
                <button class="btn btn-primary" ng-click="showPass=false;">取 消</button>
            </div>
            <span class="glyphicon glyphicon-remove btn-danger remove" ng-click="showPass=false"></span>
        </div>
    </div>
    <div class="mask" ng-class="{maskShow:showDisabled}">
       <div class="popup popup-sm"> 
            <div class="center">
                <div style="font-size:16px;margin:10px 0 30px;">确定{{currentData.status==1?"启用":"禁用"}}该用户吗？</div>
                <button class="btn btn-primary" ng-click="currentData.status=currentData.status==0?1:0;showDisabled=false;">确 定</button>
                <button class="btn btn-primary" ng-click="showDisabled=false;">取 消</button>
            </div>
            <span class="glyphicon glyphicon-remove btn-danger remove" ng-click="showDisabled=false"></span>
        </div>
    </div>
</div>